
$theme-primary: #ff3e3c;
$theme-secondary: #daf2f5;
$theme-black: #222222;
$theme-white: #ffffff;
$theme-light: #f0f0f0;
$theme-dark: #1c1c1c;
$theme-gray-100: #f0f0f0;
$theme-gray-200: #bfbfbf;
$theme-gray-300: #dee2e6;
$theme-gray-400: #ced4da;
$theme-gray-500: #808080;
$theme-gray-600: #6c757d;
$theme-gray-700: #404040;
$theme-gray-800: #343a40;
$theme-gray-900: #212529;


$theme-fontRaleway: 'Raleway', sans-serif;
$theme-fontExo: 'Exo', sans-serif;