
$theme-primary: #FF817F;
$theme-primary-300:  #ffd9cb;
$theme-primary-400:  #ff817f;
$theme-primary-dark: #DB5C65;
$theme-secondary: #78AAC3;
$theme-whiteblue: #f4feff;
$theme-darkblue: #17335D;
$theme-lightblue: #D5EFF5;
// $theme-seagreen: #1D5D69FC;
// $theme-navyblue: #2C5287;
// $theme-darkgreen: #092124;

$theme-pink-light: #FFD9CB;
$theme-blue: #5787A7;
$theme-black: #222222;
$theme-white: #ffffff;
$theme-light: #f0f0f0;
$theme-gray: #5F6F71;

$theme-fontRaleway: 'Raleway', sans-serif;
$theme-fontExo: 'Exo', sans-serif;

$layout-breakpoints: (
    sm: 400px,
    md: 781px,
	lg: 1024px,
    xl: 1400px,
);
