.btn {
	// --#{$prefix}btn-focus-box-shadow: none;
	// --#{$prefix}btn-icon-width: 0.8rem;
	// --#{$prefix}btn-font-weight: 500;
	// --#{$prefix}btn-outline-color: var(--#{$prefix}white);
	// --#{$prefix}btn-outline-width: var(--#{$prefix}btn-border-width);	
	// --#{$prefix}btn-border-radius: 5px 20px !important;

	--#{$prefix}btn-focus-box-shadow: none;
	--#{$prefix}btn-icon-width: 0.9rem;
	--#{$prefix}btn-font-weight: 500;
	--#{$prefix}btn-outline-color: var(--#{$prefix}white);
	--#{$prefix}btn-outline-width: var(--#{$prefix}btn-border-width);	
	--#{$prefix}btn-font-size: 1rem;	
	--#{$prefix}btn-border-radius: 5px 20px;
	padding: 1rem 1.5rem !important;
    margin-bottom: 1rem;
	position: relative;

	.btn-check:focus + &,
	.btn-check:focus-within + &,
	.btn-check:focus-visible + &{
		color: var(--#{$prefix}btn-active-color);
		background-color: var(--#{$prefix}btn-active-bg);
		border-color: var(--#{$prefix}btn-active-border-color);
	}
}

// .btn-link {
// 	--#{$prefix}btn-color: #26c7d9 !important;
// 	--#{$prefix}btn-bg: transparent;
// 	--#{$prefix}btn-border-color: none;
// 	--#{$prefix}btn-border-width: 0;	

// 	--#{$prefix}btn-hover-color: var(--#{$prefix}btn-color);
// 	--#{$prefix}btn-hover-bg: var(--#{$prefix}btn-bg);	
// 	--#{$prefix}btn-hover-border-color: var(--#{$prefix}btn-hover-bg);

// 	--#{$prefix}btn-active-color: var(--#{$prefix}btn-color);
// 	--#{$prefix}btn-hover-active-color: var(--#{$prefix}btn-color);
// 	--#{$prefix}btn-active-border-color: var(--#{$prefix}btn-active-bg);

// 	border: none;

// 	&:hover {
// 		--#{$prefix}btn-color: var(--#{$prefix}btn-hover-color);
// 		// border-color: var(--#{$prefix}btn-hover-border-color);
// 	}	

// 	&.btn-icon{
// 		--#{$prefix}btn-color: var(--#{$prefix}secndary);
// 		--#{$prefix}btn-hover-color: var(--#{$prefix}btn-color);
// 	}
// }

.btn-primary{
	--#{$prefix}btn-color: var(--#{$prefix}white);
	--#{$prefix}btn-bg: var(--#{$prefix}primary) !important;
	--#{$prefix}btn-border-color: var(--#{$prefix}btn-bg);
	--#{$prefix}btn-border: none;
	--#{$prefix}btn-box-shadow: none;

	--#{$prefix}btn-hover-color: var(--#{$prefix}btn-color);
	--#{$prefix}btn-hover-bg: var(--#{$prefix}primary-dark);
	--#{$prefix}btn-hover-border-color: var(--#{$prefix}btn-hover-bg);

	--#{$prefix}btn-active-color: var(--#{$prefix}btn-color);
	--#{$prefix}btn-active-bg: var(--#{$prefix}primary-dark);
	--#{$prefix}btn-active-border-color: var(--#{$prefix}btn-active-bg);	

	&.btn-link {
		--#{$prefix}btn-color: var(--#{$prefix}btn-bg) !important;		
		background-color: transparent !important;
		border: none;
		box-shadow: var(--#{$prefix}btn-box-shadow);
		padding: 0 !important;
		margin-bottom: 0.5rem;

		&:hover{
			--#{$prefix}btn-color: var(--#{$prefix}btn-hover-bg) !important;			
		}		
	}	
	&.btn-yes{
		border-radius: var(--#{$prefix}btn-border-radius) !important;
	}	
	&.btn-no{
		border-radius: 0.8px 6.83px 0.8px 6.83px !important;
	}
	
	box-shadow: 0 6px 10px 0 rgba(255,62,60,.3);
	border-radius: var(--#{$prefix}btn-border-radius) !important;	
	
	&:hover{
		background-color: var(--#{$prefix}btn-hover-bg);	
	}
}

.btn-secondary {
	--#{$prefix}btn-color: var(--#{$prefix}white);
	--#{$prefix}btn-bg: var(--#{$prefix}secondary) !important;
	--#{$prefix}btn-border-color: var(--#{$prefix}btn-bg);

	--#{$prefix}btn-hover-color: var(--#{$prefix}btn-color);
	--#{$prefix}btn-hover-bg: var(--#{$prefix}btn-bg);
	--#{$prefix}btn-hover-border-color: var(--#{$prefix}btn-hover-bg);

	--#{$prefix}btn-active-color: var(--#{$prefix}btn-color);
	--#{$prefix}btn-active-bg: var(--#{$prefix}btn-bg);
	--#{$prefix}btn-active-border-color: var(--#{$prefix}btn-active-bg);

	&.btn-link {
		--#{$prefix}btn-color: var(--#{$prefix}btn-bg) !important;		
		background-color: transparent !important;
		border: none;
		box-shadow: var(--#{$prefix}btn-box-shadow);
		padding: 0 !important;
		margin-bottom: 0.5rem;

		&:hover{
			--#{$prefix}btn-color: var(--#{$prefix}btn-hover-bg) !important;			
		}		
	}
	&.yes{
		border-radius: var(--#{$prefix}btn-border-radius) !important;
	}	
	&.no{
		border-radius: 0.8px 6.83px 0.8px 6.83px !important;
	}
}
		
.btn-white {
	--#{$prefix}btn-color: var(--#{$prefix}primary);
	--#{$prefix}btn-bg: var(--#{$prefix}white);
	--#{$prefix}btn-border-color: var(--#{$prefix}btn-bg);
	
    --#{$prefix}btn-hover-color: var(--#{$prefix}btn-color);
	--#{$prefix}btn-hover-bg: var(--#{$prefix}white);
	--#{$prefix}btn-hover-border-color: var(--#{$prefix}btn-hover-bg);	

	--#{$prefix}btn-active-color: var(--#{$prefix}btn-color);
	--#{$prefix}btn-active-bg: var(--#{$prefix}white);
	--#{$prefix}btn-active-border-color: var(--#{$prefix}btn-active-bg);

	&.btn-link {
		--#{$prefix}btn-color: var(--#{$prefix}primary) !important;		
		background-color: transparent !important;
		border: none;
		box-shadow: var(--#{$prefix}btn-box-shadow);
		padding: 0 !important;
		margin-bottom: 0.5rem;
		
		&:hover{
			background-color: transparent !important;
		}
	}
	&.yes{
		border-radius: var(--#{$prefix}btn-border-radius) !important;
	}	
	&.no{
		border-radius: 0.8px 6.83px 0.8px 6.83px !important;
	}
	
}

.btn-iconColor {
	--#{$prefix}btn-color: var(--#{$prefix}white);
	--#{$prefix}btn-hover-color: var(--#{$prefix}btn-color);
}

.btn-icon {

	--#{$prefix}icon-color: var(--#{$prefix}btn-color);
	--#{$prefix}icon-width: var(--#{$prefix}btn-icon-width);
	
	&::after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: var(--#{$prefix}icon-width);
		height: var(--#{$prefix}icon-width);
		margin: 0 0 0 0.5rem;
		transition: all 0.15s ease-in-out;
		background: var(--#{$prefix}icon-color);
		mask-image: var(--icon-uri);
		-webkit-mask-image: var(--icon-uri);
		transform: translateX(0px) !important;
		// Adjusted styles on hover
				
	}
	&:hover::after {
        transform: translateX(7px) !important; /* Apply a different transform on hover */
    }
	width: fit-content;
}

.btn-link {
	--#{$prefix}btn-color: inherit;
	--#{$prefix}btn-bg: transparent;
	--#{$prefix}btn-border-color: var(--#{$prefix}btn-color);

	// --#{$prefix}btn-hover-color: var(--#{$prefix}btn-color);
	// --#{$prefix}btn-hover-bg: var(--#{$prefix}btn-bg);
	// --#{$prefix}btn-hover-border-color: var(--#{$prefix}btn-hover-bg);

	// --#{$prefix}btn-active-color: var(--#{$prefix}btn-color);
	// --#{$prefix}btn-active-bg: var(--#{$prefix}btn-bg);
	// --#{$prefix}btn-active-border-color: var(--#{$prefix}btn-active-bg);

	--#{$prefix}btn-border-width: 0.125rem;
	--#{$prefix}btn-padding-x: 0;
	--#{$prefix}btn-padding-y: 0.25rem;
	--#{$prefix}btn-border-radius: 0;

	// border: var(--#{$prefix}btn-border-width) solid var(--#{$prefix}btn-border-color);
	// border-width: 0 0 var(--#{$prefix}btn-border-width) 0;
	// border-radius: var(--#{$prefix}btn-border-radius);
	// padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
	// background: transparent !important;

	// &:hover {
	// 	border-color: var(--#{$prefix}btn-hover-border-color);
	// }

	// &:active,
	// &:focus,
	// &:focus-visible,
	// &:focus-within {
	// 	border-color: transparent !important;

	// 	&::before {
	// 		--#{$prefix}btn-border-width: 0.125rem;
	// 		--#{$prefix}btn-active-border-color: var(--#{$prefix}btn-active-color);
	// 		--#{$prefix}btn-outline-color: var(--#{$prefix}btn-active-color);
	// 		border-style: dashed;
	// 		top: calc(-1 * var(--#{$prefix}btn-outline-width));
	// 		bottom: calc(-1 * var(--#{$prefix}btn-outline-width));
	// 		left: calc(-1 * (var(--#{$prefix}btn-outline-width) + 0.5rem));
	// 		right: calc(-1 * (var(--#{$prefix}btn-outline-width) + 0.5rem));
	// 	}
	// }

	
}

.background-fluid{
	max-width: 100vw;
	width: 100vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.background-Secondary{
    background-color: var(--#{$prefix}lightblue);   
}
.background-Blue{
    background-color: var(--#{$prefix}blue) !important;   
}
.background-primarylight{
	background-color:#ffd9cb !important;
}
.btn-primarylight{
	border-radius: var(--#{$prefix}btn-border-radius) !important;	
	background-color: rgba(255, 129, 127, 1) !important;
}

// .text-blue{
// 	color: $secondary-dark;	
// }
.text-primary-300 {
	color: rgba(255, 129, 127, 1) !important;
}

.background-whiteBlue{
	background-color: var(--#{$prefix}whiteblue);
}