// Banner Slider Styles

.banner-content-column{ 
    img{
            width: 8rem; 
            @media screen and (max-width: 778px){
                 width: 120px;
             }
    }
    h1{
        // color: var(--#{$prefix}darkblue);
        line-height: 1.1;
    }
    p{
        color: var(--#{$prefix}gray) !important;
    }
    h1,p{
        @media (max-width: 768px){
            width: 100% !important;
        }
    }
    
}

// Main Content
.main-content {
    .heading_col{
        @media (max-width: 991px){
            flex-basis: 100% !important;
        }
    } 
    .description{
        @media (max-width: 991px){
            flex-basis: 100% !important;
        }
    }    
}

// Product Content

.wp-block-media-text__media img{
    // width: 31.25rem !important;
}
.wp-block-media-text__content{
    h2{
        color:  var(--#{$prefix}secondary) !important;
    }
}
.card_content{
    .content{
        background-color: var(--#{$prefix}white) !important;
        box-shadow: 0px 3.8520348072052px 42.37238311767578px 0px rgba(0, 0, 0, 0.1);
        border-radius: 4.5px;  
    }
    img{
        width: 70px;
        height: 70px;
    }
}
.product-content {
    p{
        color: var(--#{$prefix}navyblue) !important;
    }
}

.getintouch_content{
    h2,p{
        color: var(--#{$prefix}primary-400) !important;
    }
    h2{
        font-family: $font-family-exo;     
    }
    p{
      font-size: 16px;
      font-family: $font-family-base;
      text-align: left;
     }

     @media (max-width: 991px){
        flex-basis: 100% !important;
    }
    
  }   
  .interestedinctabtn{
    a{
      color: var(--#{$prefix}pinklight);
      border-radius: 0.8px 6px !important;
      box-shadow: 0px 18px 40px -10px #00000026;
      font-family: $font-family-base;
      font-size: 14px;      
      line-height: 1;    
      text-transform: uppercase; 
  }
}