@import '_variables';
@import '_mixins';

h1
{
	font-size: 3.125rem;
	line-height: 1.3;	
	font-family: $font-family-exo;
}
p
{
	color: $gray-600;
	font-size: 1.5rem;
	font-family: $font-family-base;  
}
.w-75{
    width: 75%;
}


@include media-breakpoint-up(sm) {
	h1 {
		font-size: 2.063rem !important;
		// color: red;
	}
	.w-sm-100{
		width: 100% !important;
	}
}

@include media-breakpoint-up(md) {
	h1 {
		font-size: 2.5rem !important;
		// color: green;
	}
}
@include media-breakpoint-up(lg) {
	h1 {
		font-size: 3.125rem !important;
		// color: blue;
	}
}

@include media-breakpoint-up(xl) {
	h1 {
		font-size: 3.15rem !important;
		// color: pink;
	}
}
