a{
	// font-size: 0.9rem !important;
	@media screen and (max-width: 400px){
		font-size: 0.8rem !important;
	}
}
h1
{
	font-size: 3.125rem;
	line-height: 1.3;	
	font-family: $font-family-exo;
}
h2{
	font-size: 2rem;
	line-height: 1.3;	
}
h3{
	font-size: 1.8rem;
	line-height: 1.3;	
}
h6{
	font-size: 1rem !important;
}
p
{
	// font-family: $font-family-base;  
	color: var(--#{$prefix}gray) !important;
	font-size: 1.2rem;
	line-height: 1.5;
}


.p-xs-0{
	@media screen and (max-width:400px){
		padding: 0.5rem !important;
	}
}


@include media-breakpoint-up(sm) {
	h1 {
		font-size: 2.063rem !important;
		// color: red;
	}
	.w-sm-100{
		width: 100% !important;
	}
}

@include media-breakpoint-up(md) {
	h1 {
		font-size: 2.5rem !important;
		// color: green;
	}
}
@include media-breakpoint-up(lg) {
	h1 {
		font-size: 3.125rem !important;
		// color: blue;
	}
}

@include media-breakpoint-up(xl) {
	h1 {
		font-size: 3.15rem !important;
		// color: pink;
	}
}
