#menu-header_menu-1{
    gap: 0 !important;
    padding: 0 !important;
}
#menu-products-menu,
#menu-solutions-menu,
#menu-header_menu-1{

    --#{$prefix}text-color: rgba(182, 225, 236, 1);
    --#{$prefix}text-hover-color: var(--#{$prefix}white);
    --#{$prefix}font-family: 'Raleway' , sans-serif;
    padding-left: 0;

    li{
        list-style-type: none;
        a{
            color: var(--#{$prefix}text-color);
            font-family: var(--#{$prefix}font-family);
            font-size: 17px;
            line-height: 2;
            transition: 0.3s ease; 
            
            &:hover{
                color: var(--#{$prefix}text-hover-color);
            }
        }
        .sub-menu{
            padding-left: 0.7rem;
        }
    }
}
img.footerlogo{
    width: 150px;
    height: 150px;

    @media screen and (max-width: 770px)
    {
        width: 100px;
        height: 100px;
    }
}
.copyright p{
    // color: ;
}