
.wp-block-uagb-container.uagb-block-5d8d90e5{
    @media screen and (max-width: 400px) {
        margin-top: 12px !important;
    }
    @media screen and (min-width: 400px) {
        margin-top: 30px !important;
    }    
}
.wp-block-uagb-container.uagb-block-7384c58c{
    margin-top: 0 !important;
    padding: 0 !important;
}
.healthcare_content{
    .content{
        background-color: var(--#{$prefix}white) !important;
        box-shadow: 0px 3.8520348072052px 42.37238311767578px 0px rgba(0, 0, 0, 0.1);
        border-radius: 4.5px;  
    }
    img{
        width: 70px;
        height: 70px;
    }
}



