@import '../../../aciana/css/all';

a{
    text-decoration: none !important;
}
.interestedinctasection{
    background-color: $primary;   
    left: calc(-50vw + 50%);
    padding: 80px 80px !important;
    position: relative;
    max-width: 100vw;
    width: 100vw;


  .getintouch_content h3{
    color: $white;
    font-size: 30px;
    font-family: $font-family-exo;
    font-weight: 500;
    margin-bottom: 18px;
    text-align: left;
    text-transform: none;
  }

  .getintouch_content p{
   color: $white;
   font-size: 16px;
   font-family: $font-family-base;
   margin-bottom: 0 !important;
   text-align: left;
  }

  .interestedinctabtn a{
    background-color: $white ;
    border-radius: 5px 20px;
    box-shadow: 0px 18px 40px -10px #00000026;
    color: $primary;
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 19px 30px;  
    text-transform: uppercase;
  }

  .interestedinctabtn svg{
    width: 16px;
    height: auto;
    stroke: #ff3e3c;
    fill: #ff3e3c;
    stroke-width: 1px;
    margin-left: 7px;    
  }
  .interestedinctabtn svg path{
    fill: #ff3e3c !important;
  }
  
  @media(max-width:780px){
    .mainDiv{
        padding-inline: 7px;
    }
    .ctaContent{
        margin-bottom: 40px;
        padding: 0;
    }
    .ctaBtn{
      justify-content: flex-start!important;
      padding: 0;
    }
  }
  
}

// Banner Slider

.banner-content-column h1{
  font-size: 3.125rem;
  font-family: $font-family-exo;
}
.banner-content-column p{
  color: $gray-600;
  font-size: 1.5rem;
}

